# Server Port
PORT=4000

# MongoDB Connection URL (Local or MongoDB Atlas)
# Example Local: mongodb://127.0.0.1:27017/lost-found-mern
# Example Atlas: mongodb+srv://<username>:<password>@cluster.mongodb.net/lost-found?retryWrites=true&w=majority
DB=mongodb://127.0.0.1:27017/lost-found-mern

# Secret Key for JWT Authentication
SECRET_KEY=your_super_secret_jwt_key_here

# Allowed Client Origin
CLIENT_URL=http://localhost:3000
